RewriteEngine on
RewriteRule ^announcement(/?)+$ index.php?page=announcement [QSA]
RewriteRule ^users(/?)+$ index.php?page=users [QSA]
RewriteRule ^registration(/?)+$ index.php?page=registration [QSA]

RewriteRule ^a([a-zA-Z0-9_-]+)$ index.php?announcement=$1 [QSA]
RewriteRule ^a([a-zA-Z0-9_-]+)/$ index.php?announcement=$1 [QSA]

RewriteRule ^u([a-zA-Z0-9_-]+)$ index.php?user=$1 [QSA]
RewriteRule ^u([a-zA-Z0-9_-]+)/$ index.php?user=$1 [QSA]