RewriteEngine on
RewriteRule ^ads(/?)+$ index.php?page=announcement [L]
RewriteRule ^users(/?)+$ index.php?page=users [L]
RewriteRule ^registration(/?)+$ index.php?page=registration [L]

RewriteRule ^p([a-zA-Z0-9_-]+)$ index.php?announcement=$1
RewriteRule ^p([a-zA-Z0-9_-]+)/$ index.php?announcement=$1

RewriteRule ^u([a-zA-Z0-9_-]+)$ index.php?user=$1 
RewriteRule ^u([a-zA-Z0-9_-]+)/$ index.php?user=$1