RewriteEngine on
RewriteRule ^announcement(/?)+$ index.php?page=announcement [QSA]
RewriteRule ^users(/?)+$ index.php?page=users [QSA]
RewriteRule ^registration(/?)+$ index.php?page=registration [QSA]

RewriteRule ^announcement/([0-9]+)(/?)+$ index.php?announcement=$1 [QSA,L]
RewriteRule ^users/([0-9]+)(/?)+$ index.php?user=$1 [QSA,L]
