<div class="media">
  <div class="media-body">
    <h3 class="media-heading">В проект openserver требуются delphi программисты!</h3>
    <p>Опубликованно: 15.04.14</p>

    <p>В проект OPEN-SEVER требуются программисты, мы ведём разработку на языках C# и C++. В ближайших планах перенсти платформу Openserver на ОС LINUX и MAC OS. Будем рады всем кто захочем присоеденится и помочь проекту! 

      <p>Open Server — это портативная серверная платформа и программная среда, созданная специально для веб-разработчиков с учётом их рекомендаций и пожеланий. 

        <p>Программный комплекс имеет богатый набор серверного программного обеспечения, удобный, многофункциональный продуманный интерфейс, обладает мощными возможностями по администрированию и настройке компонентов. Платформа широко используется с целью разработки, отладки и тестирования веб-проектов, а так же для предоставления веб-сервисов в локальных сетях. 

          <p>Хотя изначально программные продукты, входящие в состав комплекса, не разрабатывались специально для работы друг с другом, такая связка стала весьма популярной среди пользователей Windows, в первую очередь из-за того, что они получали бесплатный комплекс программ с надежностью на уровне Linux серверов. 

            <p>Удобство и простота управления безусловно не оставят вас равнодушными, за время своего существования Open Server зарекомендовал себя как первоклассный и надёжный инструмент необходимый каждому веб-мастеру.</p>
            <p><span class="label label-default">Разработка ПО</span> <span class="label label-default">delphi</span> <span class="label label-default">opensource</span>
            </div>
          </div>