<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Open-Search.su | Поиск open-source проектов</title>


  <!-- Bootstrap -->
  <link href="/opensearch/templates/default/css/bootstrap.css" rel="stylesheet">
  <link href="/opensearch/templates/default/css/style.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>
function AjaxFormRequest(id,method)
{
    $.ajax({
      type: "POST",
      url: "system/user_request.php",
      data:
      {
      "id": id,
      "method": method
      },
      success: function(data)
      {
           $('#'+id).html('<input type="button" class="btn btn-default btn-sm" value="Заявка отправлена" disabled>');
      }
    });
    //alert(method);
}

var error = 0;

function regCheck()
{
    var thisForm = document.forms["regform"];
    //Наша форма
    var thisLogin = thisForm.elements["login"].value;
    //Получаем логин
    var thisEmail = thisForm.elements["email"].value;
    //Получаем мыло
    var thisName = thisForm.elements["name"].value;
    //Получаем имя
    var thisPass = thisForm.elements["pass"].value;
    //Получаем пасс

    var loginReg = /[0-9a-z_A-Z]/i;
    //Регулярка для логина
    var emailReg = /^([a-z0-9_\.-])+@[a-z0-9-]+\.([a-z]{2,4}\.)?[a-z]{2,4}$/i;
    //Регулярка для мыла
    var passReg = /^[0-9a-z_A-Z\?\*\-\_\@\#]+$/;
    //Регулярка для пароля
    var nameReg = /^[a-zA-Zа-яА-Я'][a-zA-Zа-яА-Я-' ]+[a-zA-Zа-яА-Я']?$/;
    //Регулярка для имени

    if ((thisLogin != "") && (thisEmail != "") && (thisName != "") && (thisPass != ""))
    {
        //======= LOGIN ======//
        
        if (loginReg.test(thisLogin) == true)
        {
            if (thisLogin.length <= 4)
            {
                ++error;
                errorMsg = 'Логин 1';
                $('#regMsg').html('<div class="alert alert-dismissible alert-danger">Логин должен содержать не менее 4-х символов</div>');
            }

            if (thisLogin.length > 30)
            {
                ++error;
                errorMsg = 'Логин 2';
                $('#regMsg').html('<div class="alert alert-dismissible alert-danger">Логин должен содержать не более 30-и символов</div>');
            }
        }
        else
        {
            ++error;
            errorMsg = 'Логин 3';
            $('#regMsg').html('<div class="alert alert-dismissible alert-danger">Логин должен состоять только из латинских букв и цифр (0-9)</div>');
        }

        //======= EMAIL ======//

        if (emailReg.test(thisEmail) == true)
        {
            if (thisEmail.length > 100)
            {
                ++error;
                errorMsg = 'Mail 1';
                $('#regMsg').html('<div class="alert alert-dismissible alert-danger">E-Mail должен содрежать не более 100 символов</div>');
            }
        }
        else
        {
            ++error;
            errorMsg = 'Mail 2';
            $('#regMsg').html('<div class="alert alert-dismissible alert-danger">E-Mail должен содержать латинские буквы и цифры (0-9), а также "@" (собака)</div>');
        }

        //======= PASS ======//

        if (passReg.test(thisPass) == true)
        {
            if (thisPass.length < 6)
            {
                ++error;
                errorMsg = 'Mail 1';
                $('#regMsg').html('<div class="alert alert-dismissible alert-danger">Пароль должен состоять минимум из 6-ми символов</div>');
            }

            if (thisPass.length > 99)
            {
                ++error;
                errorMsg = 'Mail 1';
                $('#regMsg').html('<div class="alert alert-dismissible alert-danger">Пароль не должен содержать более 100 символов</div>');
            }
        }
        else
        {
            ++error;
            errorMsg = 'Mail 2';
            $('#regMsg').html('<div class="alert alert-dismissible alert-danger">Пароль может состоять из английских букв, цифр и символов \"? * - _ @ #\"!</div>');
        }

        //======= NAME ======//

        if (nameReg.test(thisName) == true)
        {
            if (thisName.length = 1)
            {
                ++error;
                errorMsg = 'Mail 1';
                $('#regMsg').html('<div class="alert alert-dismissible alert-danger">Имя должно содержать не менее 1 символа</div>');
            }

            if (thisName.length > 100)
            {
                ++error;
                errorMsg = 'Mail 1';
                $('#regMsg').html('<div class="alert alert-dismissible alert-danger">Имя должно содержать не более 100 символов</div>');
            }
        }
        else
        {
            ++error;
            errorMsg = 'Mail 2';
            $('#regMsg').html('<div class="alert alert-dismissible alert-danger">
              Имя должно состоять из английских и русских букв</div>');
        }
    }
    else
    {
        ++error;
        $('#regMsg').html('<div class="alert alert-dismissible alert-danger">Заполните все поля</div>');
    }

    if (error == 0)
    {
        return true;
    }
    else
    {
        return false;
    }
}

</script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
   <body>

      <!-- INCLUDE HEADER -->
      {% include 'header.html' %}
      <!-- END INCLUDE HEADE -->

      <div class="container" id="content">
        <div class="bg_content">
          <div class="row">
            <div class="col-md-3">

             <!-- INCLUDE SIDEBAR -->
             {% include sidebar %}
             <!-- END. SIDEBAR -->

            </div>
            <div class="col-md-9">
               <!-- CONTENT -->
               {% include content %}
               <!-- CONTENT -->
               {% include pagination %}
            </div>
          </div>
        </div>
      </div>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="js/bootstrap.min.js"></script>
    </body>
    </html>