<div class="well">
  <div class="media">
    <div class="media-body">
    <h3 class="media-heading">{{ project_array.title }}</h3>
      <p>Опубликованно: {{ project_array.post_date }}</p>

      <p>{{ project_array.text }}</p>
      
              <p>
              {% for tags in project_array.tags %}
              <a href="index.php?s=projects&tag={{ tags }}"><span class="label label-default">{{ tags }}</span></a>
              {% endfor %}
              </p>
              </div>
            </div>
          </div>