<div class="well">
  <div class="media">
    <div class="media-body">
    <h3 class="media-heading">{{ project_array.title }}</h3>
      <p>Опубликованно: {{ project_array.post_date }}</p>

      <p>{{ project_array.text }}</p>
      
              <p>
              <span class="label label-default">Разработка ПО</span>
              <span class="label label-default">delphi</span>
              <span class="label label-default">opensource</span>
              </p>
              </div>
            </div>
          </div>