  <div class="well">
    <img src="{{ user_array.avatar }}" width="212px" height="220px" class="img-polaroid">
  </div>
  <div class="well">
   <b>Сфера деятелности</b>
   <p>{{ user_array.action }}</p>
   <b>Основной язык программирвоания</b>
   <p>{{ user_array.programm_language }}</p>
   <b>Язык общения</b>
   <p>{{ user_array.language }}</p>
   <b>Возраст</b>
   <p>{{ user_array.age }} лет</p>
   <b>Страна</b>
   <p>{{ user_array.country }}</p>
   <b>Город</b>
   <p>{{ user_array.city }}</p>
   <b>GitHub</b>
   <p>{{ user_array.p_url }}</p>
 </div>