 <a href="#" class="btn btn-info btn-block">Страничка проекта</a>
 <p>
  <div class="well">
    <img src="{{ project_array.img }}" width="220px" height="220px" class="img-polaroid">
  </div>
  <div class="well">
   <b>Сфера деятелности</b>
   <p>{{ project_array.info.program_language }}</p>
   <b>Язык общения</b>
   <p>{{ project_array.info.project_language }}</p>
   <b>Основной язык программирования</b>
   <p>{{ project_array.info.program_language }}</p>
   <b>Размер команды</b>
   <p>{{ project_array.info.team }}</p>
 </div>