<div class="well">
  <ul class="nav nav-pills nav-stacked">
    <li><a href="index.php?page=projects">Проекты</a></li>
    <li class="active"><a href="index.php?page=peoples">Люди</a></li>
  </ul>
</div>

<div class="well">
  <form method="post">
    <div class="form-group">
      <label for="select" class="control-label">Основная деятельность</label>
      <select class="form-control" id="select">
        <option>Gamdev</option>
        <option>Backend</option>
        <option>Frontend</option>
      </select>
    </div>
    <div class="form-group">
      <label for="select" class="control-label">Основной язык программирования</label>
      <select class="form-control" id="select">
        <option>Gamdev</option>
        <option>Backend</option>
        <option>Frontend</option>
      </select>
    </div>
    <div class="form-group">
      <label for="select" class="control-label">Язык общения</label>
      <select class="form-control" id="select">
        <option>Gamdev</option>
        <option>Backend</option>
        <option>Frontend</option>
      </select>
    </div>
    <div class="form-group">
      <label for="select" class="control-label">Страна</label>
      <select class="form-control" id="select">
        <option>Россия</option>
        <option>США</option>
        <option>Украина</option>
      </select>
    </div>
    <a href="#" class="btn btn-success btn-block">Подобрать</a>
  </form>
</div>