<div class="well">
    <div class="media">
        <div class="media-body">
            <h3 class="media-heading">{{ userContent.name }}</h3>
            <p>{{ userContent.about }}</p>
        </div>
    </div>
</div>
<div class="well">
    <div class="media">
        <div class="media-body">
            <h3 class="media-heading">Объявления пользователя</h3>
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Заголовок</th>
                        <th>Url</th>
                        <th>Дата</th>

                        {% if isOwner == 1 %}

                        <th>Дейтсвие</th>

                        {% endif %}

                    </tr>
                </thead>
                <tbody>
                {% for content in currentUserAnnounce %}
                    <tr>
                        <td>{{ content.title }}</td>
                        <td><a href="http://localhost/index.php?announcement={{ content.id }}">http://localhost/index.php?announcement={{ content.id }}</td>
                        <td>{{ content.announce_date }}</td>

                        {% if isOwner == 1 %}

                        <td><a href="http://localhost/index.php?announcement={{ content.id }}&act=edit">Редактировать</a> / <a href="#">Удалить</a></td>
                        
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>