<div class="well">
	<div class="media">
		<div class="media-body">
			<h3 class="media-heading">{{ userContent.name }}</h3>
			<p>{{ userContent.about }}</p>
		</div>
	</div>
</div>
<div class="well">
	<div class="media">
		<div class="media-body">
			<h3 class="media-heading">Собственные проекты</h3>
			<table class="table table-striped table-hover ">
				<thead>
					<tr>
						<th>Название проекта</th>
						<th>Git</th>
						<th>Краткое описание</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>OpenSearch</td>
						<td><a href="https://github.com/jadewizard/opensearch">https://github.com/jadewizard/opensearch</td>
						<td>Биржа open-source проектов</td>
					</tr>
					<tr>
						<td>SL-Script</td>
						<td><a href="https://github.com/jadewizard/opensearch">https://github.com/jadewizard/sls</td>
						<td>Скрипт для поиска текство песен по серверу VK</td>
					</tr>
				</tbody>
			</table> 
		</div>
	</div>
</div>
<div class="well">
	<div class="media">
		<div class="media-body">
			<h3 class="media-heading">Участник</h3>
			<table class="table table-striped table-hover ">
				<thead>
					<tr>
						<th>Название проекта</th>
						<th>Url</th>
						<th>Краткое описание</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>OpenSearch</td>
						<td><a href="https://github.com/jadewizard/opensearch">http://localhost/index.php?page=project&id=1</td>
						<td>Биржа open-source проектов</td>
					</tr>
					<tr>
						<td>TwigRussian</td>
						<td><a href="https://github.com/jadewizard/opensearch">http://localhost/index.php?page=project&id=1</td>
						<td>Локализация на русский язык документации Twig</td>
					</tr>
				</tbody>
			</table> 
		</div>
	</div>
</div>
