<div class="well">
  {% if auth == true %}
  {{ updMessage|raw }}
  <p><h3>Редактирование объявления</h3>
    <form method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label class="control-label" for="focusedInput">Заголовок объявления *</label>
        <input class="form-control" name="new_announce_name" id="focusedInput" value="{{ announceContent.title }}" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Текст объявления *</label>
        <textarea class="form-control" rows="6" name="new_announce_text">{{ announceContent.annoucne_text }}</textarea>
      </div>
      <hr>
      <h4>Дополнительная информация</h4>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Сфера деятельности</label>
        <input class="form-control" name="new_announce_act" id="focusedInput" value="{{ announceContent.action }}" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Язык программирования</label>
        <input class="form-control" name="new_announce_planguage" id="focusedInput" value="{{ announceContent.program_language }}" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Язык общения</label>
        <select class="form-control" name="new_announce_language" value="Россия" id="select">
          <option>Ru/En</option>
          <option>Ru/De</option>
          <option>Ru/Fr</option>
          <option>Ru/Ch</option>
          <option>En/De</option>
          <option>En/Fr</option>
          <option>En/Cn</option>
          <option>En</option>
          <option>Fr</option>
          <option>De</option>
          <option>Ru</option>
          <option>Ch</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Команда (человек)</label>
        <select class="form-control" name="new_announce_team" value="Россия" id="select">
          <option>1-10</option>
          <option>10-100</option>
          <option>100-1000</option>
          <option>Более 1000</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Хостинг</label>
        <input class="form-control" name="new_announce_host" id="focusedInput" value="{{ announceContent.host }}" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Фотография</label>
        <input name="img" type="file">
         <span class="help-block">Размер файла не более 2.5 МБ, PNG,JPG,JPEG</span>
      </div>
      <div class="form-group">
        <input class="btn btn-success" value="Отправить на проверку" id="focusedInput" type="submit" name="announceSaveSend">
      </div>
    </form>
    {% endif %}
    {{ auth_message|raw }}
  </div>
