<div class="well">
  {% if auth == true %}
  {{ updMessage|raw }}
  <p><h3>Редактирование объявления</h3>
    <form method="post">
      <div class="form-group">
        <label class="control-label" for="focusedInput">Заголовок объявления *</label>
        <input class="form-control" name="new_announce_name" id="focusedInput" value="{{ announceContent.title }}" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Текст объявления *</label>
        <textarea class="form-control" rows="6" name="new_announce_text">{{ announceContent.annoucne_text }}</textarea>
      </div>
      <hr>
      <h4>Дополнительная информация</h4>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Сфера деятельности</label>
        <input class="form-control" name="new_announce_act" id="focusedInput" value="{{ announceContent.action }}" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Язык программирования</label>
        <input class="form-control" name="new_announce_planguage" id="focusedInput" value="{{ announceContent.program_language }}" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Язык общения *</label>
        <input class="form-control" name="new_announce_language" id="focusedInput" value="{{ announceContent.project_language }}" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Команда</label>
        <input class="form-control" name="new_announce_team" id="focusedInput" value="{{ announceContent.team }}" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Хостинг</label>
        <input class="form-control" name="new_announce_host" id="focusedInput" value="{{ announceContent.host }}" type="text">
      </div>
      <div class="form-group">
        <input class="btn btn-success" value="Отправить на проверку" id="focusedInput" type="submit" name="announceSaveSend">
      </div>
    </form>
    {% endif %}
    {{ auth_message|raw }}
  </div>
