<div class="well">
  <form method="post">
    <div class="form-group">
      <label class="control-label" for="focusedInput">Логин</label>
      <input class="form-control" id="focusedInput" type="text">
    </div>
    <div class="form-group">
      <label class="control-label" for="focusedInput">Пароль</label>
      <input class="form-control" id="focusedInput" type="pass">
    </div>
    <div class="form-group">
      <input class="btn btn-info" value="Вход" id="focusedInput" type="submit" name="send">
      <a href="#" class="btn btn-success">Регистрация</a>
    </div>
  </form>
</div>