<div class="well">
  <h3>Основная информация</h3>
  <form method="post">
    <div class="form-group">
      <label class="control-label" for="focusedInput">Имя</label>
      <input class="form-control" name="new_name" id="focusedInput" type="text">
    </div>
    <div class="form-group">
      <label class="control-label" for="focusedInput">Информация</label>
      <textarea class="form-control" name="new_about" rows="5" id="focusedInput"></textarea>
    </div>
    <div class="form-group">
      <label class="control-label" for="focusedInput">Страна</label>
      <select class="form-control" name="new_country" id="select">
        <option>Россия</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label class="control-label" for="focusedInput">Язык общения</label>
      <select class="form-control" name="new_launguage" id="select">
        <option>Ru/En</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label class="control-label" for="focusedInput">Город</label>
      <input class="form-control" name="new_city" id="focusedInput" type="text">
    </div>
    <div class="form-group">
      <label class="control-label" for="focusedInput">Возраст</label>
      <input class="form-control" name="new_age" id="focusedInput" type="text">
    </div>
    <hr>
    <h3>Дополнительная информация</h3>
    <div class="form-group">
      <label class="control-label" for="focusedInput">Сфера деятельности</label>
      <input class="form-control" name="new_action" id="focusedInput" type="text">
    </div>
    <div class="form-group">
      <label class="control-label" for="focusedInput">Основной язык программирования</label>
      <input class="form-control" name="new_p_launguage" id="focusedInput" type="text">
    </div>
    <div class="form-group">
      <label class="control-label" for="focusedInput">Git/BitBucket и т.д</label>
      <input class="form-control" name="new_git" id="focusedInput" type="text">
    </div>
    <div class="form-group">
    <input class="btn btn-success" value="Сохранить" id="focusedInput" type="submit" onclick="validate(this.form)" name="savesend">
    </div>
  </form>
</div>