  <div class="well">
    {% if auth == true %}
        {{ updMessage|raw }}
    <h3>Основная информация</h3>
    <form method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label class="control-label" for="focusedInput">Имя</label>
        <input class="form-control" name="new_name" id="focusedInput" value="{{ userProfileInfo.name }}" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Информация</label>
        <textarea class="form-control" name="new_about" rows="5" id="focusedInput">{{ userProfileInfo.about }}</textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Страна</label>
        <select class="form-control" name="new_country" id="select">
          <option>Россия</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Язык общения</label>
        <select class="form-control" name="new_launguage" id="select">
          <option>Ru/En</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Город</label>
        <input class="form-control" name="new_city" id="focusedInput" value="{{ userProfileInfo.city }}" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Возраст</label>
        <input class="form-control" name="new_age" id="focusedInput" value="{{ userProfileInfo.age }}" type="text">
      </div>
      <hr>
      <h3>Дополнительная информация</h3>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Сфера деятельности</label>
        <input class="form-control" name="new_action" id="focusedInput" value="{{ userProfileInfo.action }}" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Основной язык программирования</label>
        <input class="form-control" name="new_p_launguage" value="{{ userProfileInfo.programm_language }}" id="focusedInput" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Git/BitBucket и т.д</label>
        <input class="form-control" name="new_git" value="{{ userProfileInfo.p_url }}" id="focusedInput" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" for="focusedInput">Аватар</label>
        <input name="avatar" type="file">
      </div>
      <div class="form-group">
      <input class="btn btn-success" value="Сохранить" id="focusedInput" type="submit" name="savesend">
      </div>
    </form>
        {% endif %}
    {{ auth_message|raw }}
  </div>
